body {
}

header {
}

header > div {
}

.top_menu {
  background-color: #f5f5f5;
  margin: 0 auto;
}

.top_menu > div {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  width: 1340px;
  margin: 0 auto;
}

.left_menu {
  display: flex;
}

.left_menu li {
  display: flex;
  align-items: center;
}

.left_menu li a {
  font-size: 12px;
  line-height: 42px;
  padding: 0 10px;
  color: #424242;
  font-family: "Roboto", sans-serif;
  -moz-font-family: "Roboto", sans-serif;
  -ms-font-family: "Roboto", sans-serif;
}

.left_menu li:nth-child(1) a {
  padding: 0 20px;
  margin: 0 15px;
  background: #d82f36;
  font-weight: bold;
  margin-left: 0;
  color: #fff;
  -moz-font-family: "Roboto", sans-serif;
}

.right_menu {
  display: flex;
}

.right_menu > a {
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #888;
  line-height: 40px;
}

.language {
  position: relative;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 120px;
  color: #fff;
  cursor: pointer;
}

.lan_list {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  z-index: 2;
}

.lan_list ul {
  padding: 10px 40px;
  border: 1px solid #888;
  background-color: #f5f5f5;
  line-height: 2;
}

.lan_list ul li a {
  font-size: 12px;
  color: #424242;
}

.lan_list ul li a:hover {
  color: #d82f36;
}

.bottom_menu {
  width: 1340px;
  margin: 0 auto;
}

.list {
  width: 1340px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_logo {
  padding-left: 15px;
}

.menu_list {
  padding-right: 15px;
  position: relative;
}

.menu_list a:hover {
  color: #d82f36;
}

.menu_list:hover .none_list {
}

.menu_list ul {
  display: flex;
}

.menu_list a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  font-size: 19px;
  letter-spacing: -0.5px;
  color: #424242;
}

.none_list {
  z-index: 2;
  border-top: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  top: 20%;
  right: 0;
  min-width: 1340px;
}
.list01 {
  display: flex;
  justify-content: flex-end;
  min-width: 1340px;
  padding-right: 100px;
}

.list01 ul {
  padding: 20px 23px;
}

.list01 ul li {
}

.list01 a {
  color: #666;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

.list01 a:hover {
  color: #d82f36;
}

#slide {
  position: relative;
  min-width: 1340px;
}

.slide_img {
  width: 100%;
  height: 640px;
  object-fit: cover;
}

.slide_span {
  position: absolute;
  top: 35%;
  left: 10%;
}

.slide_span span {
  display: block;
  line-height: 3;
  color: #fff;
}

.slide_span span:nth-child(1) {
  font-size: 27px;
  line-height: 1.8;
  font-weight: 800;
}

.slide_span span:nth-child(2) {
  font-size: 50px;
  line-height: 1.25;
  font-weight: bold;
}

.slide_span span:nth-child(3) {
  display: block;
  font-size: 20px;
  line-height: 1.6;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 20px;
}

.slide_span span:nth-child(4) {
  display: block;
  font-size: 20px;
  line-height: 1.6;
  font-weight: bold;
  letter-spacing: -1px;
}

.slide_span02 {
  position: absolute;
  top: 35%;
  left: 10%;
}

.slide_span02 span {
  display: block;
  line-height: 3;
  color: #fff;
}

.slide_span02 span:nth-child(1) {
  font-size: 27px;
  line-height: 1.8;
  font-weight: 800;
}

.slide_span02 span:nth-child(2) {
  font-size: 50px;
  line-height: 1.25;
  font-weight: bold;
}

.slide_span02 span:nth-child(3) {
  display: block;
  font-size: 20px;
  line-height: 1.6;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 20px;
}

.slide_span02 span:nth-child(4) {
  display: block;
  font-size: 20px;
  line-height: 1.6;
  font-weight: bold;
  letter-spacing: -1px;
}

.icon_bt {
  position: absolute;
  bottom: 30px;
  left: 300px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

#info {
  display: flex;
  width: 1340px;
  margin: 0 auto;
  margin-top: 80px;
}

.info_title {
  font-size: 20px;
  display: inline-block;
  font-weight: 600;
  color: #aaa;
  margin-bottom: 50px;
}

.notice {
}

.news {
  display: flex;
  margin-bottom: 30px;
}

.date {
  margin-right: 30px;
}

.date p:nth-child(1) {
  width: 70px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.date p:nth-child(2) {
  margin-left: 10px;
  margin: 5px;
  font-size: 36px;
  font-weight: 500;
  font-family: "Roboto", "돋움", Dotum, "굴림", Gulim, AppleGothic, sans-serif;
}

.write span:nth-child(1) {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: #333;
  font-size: 18px;
  letter-spacing: -0.5px;
  width: 400px;
}

.write span:nth-child(2) {
  display: block;
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  letter-spacing: -0.2px;
  font-weight: 300;
  width: 400px;
}

.news02 {
  display: flex;
}

.write02 span:nth-child(1) {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: #333;
  font-size: 18px;
  letter-spacing: -0.5px;
  width: 400px;
}

.write02 span:nth-child(2) {
  display: block;
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  letter-spacing: -0.2px;
  font-weight: 300;
  width: 400px;
}

.biff {
}

.write03 span:nth-child(1) {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: #333;
  font-size: 18px;
  width: 400px;
}

.write03 span:nth-child(2) {
  display: block;
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  font-weight: 300;
  width: 400px;
}

.write04 span:nth-child(1) {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: #333;
  font-size: 18px;
  letter-spacing: -0.5px;
  width: 400px;
}

.write04 span:nth-child(2) {
  display: block;
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  letter-spacing: -0.2px;
  font-weight: 300;
  width: 400px;
}

.sponsor {
  background: url(image/sponsor_bg.jpg) no-repeat 0 0;
  height: 270px;
  margin-left: 35px;
}

.sponsor a > p {
  color: #fff;
}

.sponsor a > p:nth-child(1) {
  text-align: center;
  margin-top: 70px;
  font-size: 31px;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
  letter-spacing: -1.2px;
}

.sponsor a > p:nth-child(2) {
  margin-top: 0;
  margin: 0 auto;
  word-break: keep-all;
  font-weight: 300;
  text-align: center;
  width: 80%;
  line-height: 1.5;
  font-size: 15px;
}

.sp_bt {
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
  background: none;
  border-radius: 14px;
  border: 1px solid #fff;
}

.sp_bt a {
  color: #fff;
}

#family {
  width: 1340px;
  margin: 90px auto;
}

.family_box img {
  width: 396px;
  height: 265px;
}

.family_box ul {
  display: flex;
  justify-content: space-between;
}

.family_box ul li span {
  display: block;
  text-align: center;
  margin: 20px;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  letter-spacing: -1.5px;
}

.family_box ul li p {
  display: block;
  text-align: center;
  color: #666;
  font-size: 15px;
}

#history {
}

.background {
  background-color: #2d2d2d;
  width: 100%;
  min-width: 1340px;
}

.history_list {
}

.history_title {
  display: block;
  text-align: center;
  line-height: 1.7;

  padding: 20px 30px;
}

.history_title h3 {
  color: #fff;
  font-size: 40px;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.history_title span {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.poster {
  width: 1220px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 35px;
}

.poster_list {
  display: flex;
}
.poster_list li {
  margin-right: 25px;
}

.poster_list img {
  width: 122px;
  height: 183px;
  margin: 0 auto;
}

.poster_list span {
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 15px;
}

.history_list {
  position: relative;
}

.history_btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  padding-bottom: 40px;
}

.history_btn a {
  background-color: #111;
  padding: 20px 30px 22px 30px;
  color: #ccc;
  border-radius: 40px;
  text-align: center;
  display: flex;
  line-height: 35px;
}

.history_btn span {
  color: #ccc;
  font-size: 35px;
}

.history_btn a:hover {
  background-color: #ccc;
  color: #333;
}

.history_btn a:hover span {
  color: #333;
}

.arrow {
}

#prev01 {
  cursor: pointer;
  position: absolute;
  top: 62%;
  left: 2%;
  color: #888;
  font-size: 50px;
}

#next01 {
  cursor: pointer;
  color: #888;
  font-size: 50px;
  position: absolute;
  top: 62%;
  right: 2%;
}

#biff {
  width: 1340px;
  margin: 0 auto;
}

.biff_full {
  padding-top: 80px;
  padding-bottom: 80px;
}
.biff_sns span {
  display: block;
  text-align: center;
}

.biff_sns span:nth-child(1) {
  color: #333;
  font-size: 40px;
  letter-spacing: 0px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
}

.biff_sns span:nth-child(2) {
  margin-top: 15px;
  font-size: 18px;
  color: #555;
  text-align: center;
  font-weight: 300;
}

.biff_banner {
  display: flex;
}

.biff_banner ul {
  width: 344px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 30px auto 0 auto;
}

.biff_banner ul li:hover {
  content: url(image/sns_i_link.png);
}

#sponsor {
  border-width: 100%;
  border-top: 1px solid #ccc;
  min-width: 1340px;
}

.sponsor_list {
  border-width: 100%;
  width: 1340px;
  margin: 0 auto;
}

.sponsor_list ul {
  padding: 40px;
  display: flex;
}

.sponsor_list ul li {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

footer {
  width: 100%;
  background-color: #252525;
  position: relative;
  min-width: 1340px;
}

#container {
  width: 1340px;
  margin: 0 auto;
}

.footer_sns {
  display: inline-block;
  padding: 40px 30px;
}

.sns {
  margin-bottom: 27px;
}

.sns span {
  color: #ddd;
  font-size: 15px;
  padding: 10px 5px 10px;
}

.busan_seoul {
  color: #aaa;
  padding-left: 5px;
  font-size: 15px;
  margin-bottom: 15px;
}

.busan_seoul span:nth-child(1) {
  font-weight: bold;
  margin-right: 15px;
}

.busan_seoul span:nth-child(3) {
  border: 1px solid #aaa;
  border-radius: 50px;
  font-size: 12px;
  padding: 2px 9px 3px 8px;
  cursor: pointer;
}

.busan_seoul span:nth-child(3):hover {
  color: #fff;
}

.last {
  color: #656565;
  font-size: 12px;
  margin-top: 25px;
  padding-left: 5px;
}

.icon {
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 15%;
}

.icon a {
  padding: 15px;
}

.top_btn {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  right: 8%;
}

.top_btn span {
  font-size: 40px;
  color: #aaa;
}
